<div class="tools-container">
  <div
    class="tool-card"
    *ngFor="let tool of tools"
    (click)="onToolClick(tool)"
    [ngClass]="{ 'active-tool': selectedTool?.title === tool.title }"
  >
    <img [src]="tool.imageUrl" [alt]="tool.title" />
    <h3>{{ tool.title }}</h3>
    <p>{{ tool.description }}</p>
    <p><strong>Cijena:</strong> {{ tool.price }}</p>
  </div>
</div>

<div *ngIf="selectedTool" class="tool-details">
  <button (click)="clearSelection()">Nazad</button>
  <h2>Detalji za alat: {{ selectedTool.title }}</h2>
  <p>{{ selectedTool.details }}</p>
  <p *ngIf="selectedTool.category">
    <strong>Kategorija:</strong> {{ selectedTool.category }}
  </p>
  <p>
    <strong>Cijena po satu:</strong> {{ selectedTool.price }}
  </p>
</div>