.tools-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 30px;
    padding: 20px;
    background-color: #34495e; /* Tamnoplava pozadina sekcije */
}

.tool-card {
    background-color: #2c3e50; /* Tamna pozadina kartica */
    border-radius: 8px;
    border: 1px solid #1a252f;
    padding: 20px;
    text-align: center; /* Centriranje sadržaja */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white; /* Svetla boja teksta */
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.tool-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    border-color: #1abc9c; /* Zelena nijansa na hover */
}

.tool-card img {
    width: 100px;
    height: 100px;
    background-color: white; /* Pozadina slike */
    border-radius: 50%; /* Okrugle slike */
    padding: 10px; /* Razmak između slike i ivice pozadine */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Blaga sjenka */
    object-fit: contain; /* Osigurava da se slika lepo uklopi unutar kruga */
}

.tool-card h3 {
    margin: 10px 0;
    color: #ecf0f1; /* Svetliji naslov */
}

.tool-card p {
    margin: 5px 0;
    color: #b0bec5; /* Svetlosivi opis */
}

.tool-details {
    margin-top: 20px;
    padding: 20px;
    background-color: #2c3e50;
    border-radius: 8px;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.tool-details h2 {
    color: #ecf0f1;
}

.tool-details button {
    background-color: #1abc9c; /* Zelena nijansa za dugme */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tool-details button:hover {
    background-color: #16a085; /* Tamnija zelena nijansa na hover */
}

.tool-details p {
    color: #b0bec5;
}

.active-tool {
    border-color: #1abc9c; /* Zelena za aktivnu karticu */
    box-shadow: 0 8px 15px rgba(26, 188, 156, 0.5); /* Svetlucava zelena nijansa */
}
