<section class="welcome-container">
  <div class="welcome-header">
    <h1>Dobrodošli na moj portfolio</h1>
    <p class="intro-text">Ovo je početna stranica na kojoj predstavljam svoje radove i vještine.</p>
  </div>

  <div class="welcome-footer">
    <h3>Moji projekti</h3>
    <div class="project-cards">
      <div class="project-card">
        <img src="/java.png" alt="PicturePicker" class="project-image">
        <div class="project-details">
          <h4>PicturePicker</h4>
          <p>Aplikacija za organizaciju i upravljanje slikama.</p>
          <a href="https://github.com/OPetricevic/PicturePicker" target="_blank">Pogledajte na GitHub-u</a>
        </div>
      </div>
      <div class="project-card">
        <img src="/swift.png" alt="CalorieTracker" class="project-image">
        <div class="project-details">
          <h4>CalorieTracker</h4>
          <p>Aplikacija za praćenje dnevnog unosa kalorija i fitness ciljeva.</p>
          <a href="https://github.com/OPetricevic/CalorieTracker" target="_blank">Pogledajte na GitHub-u</a>
        </div>
      </div>
      <div class="project-card">
        <img src="/swift.png" alt="SavvySaving-App" class="project-image">
        <div class="project-details">
          <h4>SavvySaving-App</h4>
          <p>Aplikacija za upravljanje budžetom i praćenje štednje.</p>
          <a href="https://github.com/OPetricevic/SavvySaving-App" target="_blank">Pogledajte na GitHub-u</a>
        </div>
      </div>
    </div>
  </div>
</section>
